* {
    padding: 0px;
    margin: 2px;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
}

#nome-portal {
    color:rgb(0, 0, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navegacao {
   
}

#introducao {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    background-color: rgba(131, 144, 206, 0.756);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#introducao img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

#cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
    text-align: center;
}

.card img {
    width: 40%;
    border-radius: 20px;
    height: 300px;
    object-fit: cover;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
}
